div {
	background-color: #333;
	position: relative;
}

p::before {
	content: "AAAAAAAAA";
	text-decoration: underline;
	position: absolute;
	left: 0;
	right: 0;
	color: white;
}

span {
	position: absolute;
	left: 0;
	right: 0;
}
