#wrapper {
  display: grid;
  grid-template-columns: minmax(40px, 100px) minmax(400px, 1fr) 200px;
  grid-template-rows: 100px 1fr 80px;
  height: 100%;
}

.item1 {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}

.item5 {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
}